.App{
    width: 100%;
    min-height: 100vh;
    background-image: url(https://source.unsplash.com/1600x900/?nature);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}